html::-webkit-scrollbar  {
  width: 0px
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, p, span {
  margin: 10px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 10px;
    text-shadow: 1px 1px 2px grey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: lightslategrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8FCE8;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Caveat', cursive
}

#form-submit {
  font-family: 'Caveat', cursive
}

#container, form {
    display: flex;
    flex-direction: column;
    /* margin-top: 20%; */
}

#container {
  padding-left: 5px;
}

.form-el {
  margin: 2.5px 0px;
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  background-color: azure;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-family: 'Caveat', cursive
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#form-submit:hover {
  cursor: pointer;
  background-color: #c1e1e1;
}

.content {
  max-width: 70%;
  margin-top: 100px
}

.form-instr h1 {
  padding-bottom: 20px;
  text-align: center;
}
/* post */
.post-cont {
  display: flex;
  justify-content: start;
  background-color: rgba(72, 182, 145, 0.451);
  margin: 30px 5px;
  box-shadow: 10px 10px 10px rgba(44, 41, 38, 0.3);
  border-radius: 10px;
}

.post {
  display: flex;
  width: 430px;
  flex-direction: column;
  padding: 5px 20px;
  font-size: 13px;
  max-height: 362px
}

.Title {
  text-align: center
}

.post-calories {
  padding-left: 10px;
  font-size: 15px;
  margin: 10px 0px;
}

.post-info{
  display: flex;
  flex-direction: column;
}

.post-nutrition {
  display: flex;
  justify-content: flex-end;
}

.post-nutrients-cont{
  padding: 10px;
  padding-left: 15px;
  min-width: 75%;
}

.post-image {
  border-radius: 50%;
  /* border-radius: 10px; */
  /* backdrop-filter: blur(3px); */
  /* background-clip: padding-box; */
  box-shadow: 10px 10px 10px rgb(44 41 38 / 30%);
  width: 200px;
  height: 200px;
}

.img-container {
  /* margin-left: 400px; */
  display: flex;
  align-items: center;
}

.post-labels {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.post-labels div {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 2px;
  margin: 2px 0px;
  border: 2px solid rgba(44, 41, 38, .3);
}

.social-box {
  width: 50px;
  display: flex;
  border-left: 3px solid rgba(220,220,220,.1);
  flex-direction: column;
  justify-content: space-between;
}

.social-btn{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 15px 5px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(44 41 38 / 30%);
  color: red;
}

.post-container {
  display: flex;
  justify-content: center;
}

.post-btn{  
  color: grey;
  height: 15px;
  width: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer
}

.like-count {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  color: black;
}

.comments {
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
}

.comments::-webkit-scrollbar {
  width: 0px
}

#add-comment{
  flex-direction: row;
}

.recipe:first-child .post{
  opacity: 1;
}