header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: lightslategrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: midnightblue;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    /* margin-top: 20%; */
}