#nav-space {
    width: 100vw;
    height: 70px;
    background-color: black;
}

#cont {
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column;
    background-color: lightsteelblue;
    margin-top: 15px;
}

#profile-img {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue; 
}

#about {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#post-cont {
    width: 60%;
    background-color: lightsteelblue;
    
    /* height: 500px; to be deleted later */
}

h3, h4 {
    background-color: crimson;
    display: inline;
    background-color: mediumslateblue;
    border-radius: 5px;
    padding: 5px;
}

#profile-img {
    background-image: url('profile.PNG');
    background-size: cover;
}


