#nav-space {
    width: 100vw;
    height: 70px;
    background-color: black;
}

#cont {
    display: flex;
    max-width: 70%;
    align-items: center;
    flex-direction: column;
    background-color: lightsteelblue;
    margin-top: 15px;
    box-shadow: 10px 10px 10px rgb(44 41 38 / 30%);
    border-radius: 20px;
    margin-bottom: 20px;
}

#profile-img {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue; 
}

#about {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#post-cont {
    display: flex;
    background-color: lightsteelblue;
    flex-direction: column;
    justify-content: center;
    align-items: center
    /* height: 500px; to be deleted later */
}

.post-cont{
    max-width: 80%;
}

h3, h4 {
    background-color: crimson;
    display: inline;
    background-color: mediumslateblue;
    border-radius: 5px;
    padding: 5px;
}

#profile-img {
    background-image: url('profile.PNG');
    background-size: cover;
}


